# fastapi é o framework para criar a API
fastapi

# uvicorn é o servidor que vai rodar a API
uvicorn

# httpx é o cliente que vai enviar a requisição para o Discord
httpx

# dotenv é usado para carregar variáveis de ambiente externas ao código
dotenv